.Services {}

.ServiceContainer {
    background-color: white;
    padding: 1rem;
    font-size: smaller;
}

.ServiceSelect {
    border-bottom: 1px solid #eeeff0;
    padding-bottom: 1rem;
}

.ServiceInfo {
    margin-top: 1rem;
}

.ServiceTitle {
    font-size: larger;
    font-weight: bold;
}
.Title {
    font-weight: bold;
}

.Description {
    font-size: x-small;
    margin-bottom: .5rem;
}

.Param {
    padding: .5rem;
    border-bottom: 1px solid #eeeff0;
}

.Param:last-child {
    border-bottom: none;
}

.ParamInput {
    margin-top: .5rem;
}

.Execute {
    margin-top: 1rem;
    display: flex;
    justify-content: stretch;
}

.ExecuteButton {
    flex: 1;
}

.ExecuteButton:not(:last-child) {
    margin-right: .5rem;
}
