.JobsContainer {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--content-color);
    overflow: auto;
}

.JobList {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.Job {
    display: flex;
    background-color: var(--component-color);
    padding: .75rem;
    margin: .25rem 0;
    border-radius: 5px;
    font-size: smaller;
    align-items: center;
}

.JobDate, .JobDuration, .JobDescription {
    font-size: x-small;
    color: var(--inactive-color);
}

.JobDate, .JobDuration, .JobInfo, .JobActions{
    margin-right: 1rem;
}

.JobInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.JobsHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.JobDescription {
    flex: 1;
}

.JobTitle {
    font-weight: bold;
}

.Finished {
    color: #3bc349;
}

.Created {
    color: #7560ee;
}

.Running, .Queued {
    color: #009ffb;
}

.Failed, .Error {
    color: #f62e51;
}
