.MainContainer {
  width: 100vw;
  height: 100vh;
}

.Services {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 30vw;
  display: flex;
  z-index: 9999;
}

.Toasts {
  position: absolute;
  width: 10rem;
  left: calc(50% - 10rem);
  bottom: .5rem;
  z-index: 9999;
}
