.MainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.SideBar {
  width: auto
}
.Content {
  flex: 1;
  position: relative;
}

.Services {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 20vw;
  display: flex;
  z-index: 9999;
  overflow: auto;
  max-height: 97vh;
}

.Toasts {
  position: absolute;
  width: 25rem;
  left: calc(50% - 10rem);
  bottom: .5rem;
  z-index: 9999;
}
