@import url('https://cloudcdn.apisuite.io/proxima-nova.css');


@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
}

body, select, input, option {
  font-family: 'Proxima Nova';
}


:root {

  --content-color: #f5f8fb;
  --component-color: #ffffff;


  --primary-color: rgb(0, 38, 56);
  --primary-contrast-color: #ffffff;

  --secondary-color: #FF2D28;
  --secondary-disabled-color: #FF5551;

}

.btn-primary {
  background-color: var( --secondary-color);
  border-color: var( --secondary-color);
}

.btn-primary:hover, .btn-primary:disabled {
  background-color: var(--secondary-disabled-color);
  border-color: var(--secondary-disabled-color);
}
